{% extends 'Base.html' %}

{% block 'main' %}

<div class="row px-4 py-2">
    <div class="col-md-12">
        <h2>About Us</h2>
        <hr>
        <p>Welcome to EKart, your trusted online destination for fresh, high-quality fruits and vegetables delivered right to your doorstep! We’re passionate about promoting sustainable farming practices and building strong relationships with the communities that grow our food. Every product we offer is carefully selected for its freshness, quality, and taste, ensuring that you get the best nature has to offer.</p>
    </div>

    <div class="col-md-6">
        <h2>Vision</h2>
        <hr>
        <p>To be the leading online marketplace for fresh, sustainable, and high-quality fruits and vegetables, inspiring healthier lifestyles and supporting local agriculture.</p>
    </div>

    <div class="col-md-6">
        <h2>Mission</h2>
        <hr>
        <p>Our mission is simple: to provide you with farm-fresh, hand-picked fruits and vegetables that are sourced responsibly from local farmers and trusted suppliers.</p>
    </div>
</div>
<div  class="px-4">
    <h2>Why Choose Us ?</h2>
    <hr>
    <ul>
        <li>Freshness Guaranteed: Our produce is sourced daily to ensure maximum freshness and flavor.</li>
        <li>Convenience: Shop from the comfort of your home and have your groceries delivered straight to your door.</li>
        <li>Sustainability: We work with local farmers and eco-friendly suppliers to promote sustainable agriculture.</li>
        <li>Affordable Prices: High-quality, healthy food doesn’t have to break the bank. We strive to offer the best prices on the market.</li>
    </ul>    
</div>

<div class="row px-4">
    <h2>Statistic</h2>
    <hr>
    <div class="col-md-4 mt-4 shadow p-4">
        <h1 class="text-danger text-center">10000+</h1>
        <h3 class="text-center">Happy Customer</h3>   
    </div>

    <div class="col-md-4 mt-4 shadow p-4">
        <h1 class="text-danger text-center">20000+</h1>
        <h3 class="text-center">order Delivered</h3>   
    </div>

    <div class="col-md-4 mt-4 shadow p-4">
        <h1 class="text-danger text-center">600+</h1>
        <h3 class="text-center">Customer</h3>   
    </div>
</div>


{% endblock 'main' %}